* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	font-family: 'Lato', "sans-serif", "Arial";
	text-rendering: optimizeLegibility;
	color: #555555;
	overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
