.btn {
  display: inline-block;
  padding: .8rem 3.3rem;
  margin-top: 40px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1.4px;
  border-radius: 4px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  font-weight: 400;
  font-size: 1.3rem;
  vertical-align: middle;
  border: 1px solid #fff;

  &__full {

    background-color: rgba(255, 255, 255, 0.2);
    /* margin-top: 60px; */
    font-family: sans-serif;
    font-weight: 300;

    @mixin atMedium {
      margin-top: 40px;
      font-family: 'Lato', sans-serif;
      font-size: 1.4rem;
      background-color: transparent;

      &:hover {
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    @mixin atMinHeight {
      margin-bottom: 50px;
    }
  }

  &__about {
    /*display: block;*/
    padding: 2px 50px;
    margin: 23px auto;
    color: #000;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 400;

    @mixin atMedium {
      padding: 0 80px;
      margin: 20px auto;
    }
    &:hover {
      color: $mainBlue;
      border: 1px solid $mainBlue;

    }
  }
}
