.btn {
  display: inline-block;
  padding: .75rem 2rem;
  margin-top: 40px;
  background-color: transparent;
  color: $mainGreen;
  text-decoration: none;
  letter-spacing: 2.0px;
  border-radius: 5px;
  transition: background-color 0.2s, border 0.2s, color 0.3s;
  font-weight: 300;
  font-size: 1.2rem;
  vertical-align: middle;
  border: 2px solid $mainGreen;

  &__full {
    &:hover {
      background-color: $mainGreen;
      border: 2px solid $mainGreen;
      color: #ffffff;
    }
  }
}
