.btn {
  display: inline-block;
  padding: .75rem 2rem;
  margin-top: 40px;
  background-color: $mainGreen;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2.0px;
  border-radius: 5px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  font-weight: 400;
  vertical-align: middle;
  border: 2px solid $mainGreen;

  &__full {
    &:hover {
      background-color: transparent;
      border: 2px solid $mainGreen;
      color: $mainGreen;
    }
  }
}
