.large-hero {
  position: relative;

  &__background {
    min-height: 100vh;

    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/

    @mixin atMinHeight {
      min-height: 120vh;
    }
  }
  &--color {
    background-color: #2CBADB;
  }

  &--fixed {
    background-attachment: fixed;
  }
  &__text-content {
    position: absolute;
    top: 50%;
    padding-top: 40px;
    transform: translateY(-60%);
    left: 0;
    width: 100%;
    text-align: center;

    @mixin atSmall {
      padding-top: 100px;
    }
  }
  &__title {
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.8rem;
    padding-top: 80px;

    @mixin atSmall {
      font-size: 3.2rem;
    }

    @mixin atMedium {
      font-size: 4.5rem;
    }

    @mixin atLarge {
      font-size: 5.0rem;
    }
  }
  &__subtitle {
    margin-top: -20px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.5rem;
    color: #ffffff;

    @mixin atMedium {
      margin-top: -20px;
      font-size: 1.5rem;
    }

    @mixin atLarge {
      font-size: 1.7rem;
    }
  }

  &--job {
    display: none;

    @mixin atMedium {
      display: inline-block;
    }
  }

  &--mobile {
    display: inline-block;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: -50px;

    @mixin atMedium {
      display: none;
    }
  }

  &__subtitle:after {
    display: block;
    height: 1px;
    background-color: #ffffff;
    content: " ";
    width: 80px;
    margin: 0 auto;
    margin-bottom: -15px;
    margin-top: 10px;

    @mixin atMedium {
      display: none;
    }
  }
}
