.primary-nav {

  &--position-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
    padding-right: 25px;
  }

  a {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-weight: 100;
    font-size: 1.3rem;
    padding: 10px 0;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
  }

  a:hover {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
  }
}
