.primary-nav {

  &--position-right {
    @mixin atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    /*display: inline-block;*/
    list-style: none;
    padding-right: 25px;
    @mixin atMedium {
      float: left;
      display: block;
    }
  }

  a {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 10px 0;
    text-transform: uppercase;

    @mixin atMedium {
      font-weight: 100;
    }
  }

  span {
    position: relative;
    display: block;
    cursor: pointer;
  }

  @mixin atMedium {
    span:before, span:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      top: 50%;
      margin-top: -0.7px;
      background: #fff;
    }

    span:before {
      left: -2.5px;
    }
    span:after {
      right: 2.5px;
      background: #fff;
      transition: width 0.7s;
    }

    span:hover:before {
      width: 100%;
      background: #fff;
      transition: width 0.4s;
    }

    span:hover:after {
      width: 100%;
      background: transparent;
      transition: 0s;
    }
  }

}
