.row {

  &--gutters {
    margin-right: -65px
  }

  &--gutters > div {
    padding-right: 65px;
  }

  @mixin atMedium {
    &__medium-6 {
      float: left;
      width: 50%;
    }
  }

  /* Begin Equal Height Rules */
  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
