.site-header {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  z-index: 50;

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    transform-origin: 50% 0%;

    @mixin atSmall {
      transform: translateX(-50%) scale(.6);
    }

    @mixin atMedium {
      left: 0;
      transform: translateX(0) scale(.5);
    }

    @mixin atMinHeight {
      display: none;
    }
  }

  &__logo-main {
    margin-bottom: 60px;
  }

  &__menu-content {
    display: none;

    @mixin atMedium {
      display: block;
    }
  }

  &__pad {
    position: relative;
  }
}
